<hr class="m-0 d-lg-none" />
<li
  class="nav-item"
  [class.dropdown]="direction === 'down'"
  [class.dropright]="direction === 'right'"
  [class.active]="isActive() && !inDropdown"
  [class.activeInDropdown]="isActive() && inDropdown"
>
  <!-- NOT CLICKABLE VERSION -->
  <a
    *ngIf="!clickable"
    [class.toggledown]="direction === 'down'"
    [class.toggleright]="direction === 'right'"
    [class.disabledDropdown]="disabledDropdown"
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ text }}
  </a>
  <!-- CLICKABLE VERSION -->
  <a
    *ngIf="clickable"
    [class.toggledown]="direction === 'down'"
    [class.toggleright]="direction === 'right'"
    [class.disabledDropdown]="disabledDropdown"
    class="nav-link dropdown-toggle dropdown-clickable"
    href="#"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    routerLink="{{ route }}"
  >
    {{ text }}
  </a>
  <div
    *ngIf="!disabledDropdown"
    class="dropdown-menu shadow-sm"
    [class.menudown]="direction === 'down'"
    [class.menuright]="direction === 'right'"
    aria-labelledby="navbarDropdown"
  >
    <ng-content></ng-content>
  </div>
</li>
