<article>
  <div
    id="products-container"
    class="container-fluid p-0 border-top-secondary border-bottom-secondary"
  >
    <div class="row m-0 row-large products-row">
      <div class="row m-0 width-100 height-vp-full-with-header">
        <div
          id="wifiplug-col"
          class="col-lg product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10 content-div first-content-div"
            >
              <div>
                <h3 class="text-color-primary">WIFIPLUG</h3>
                <h5 class="text-color-secondary">
                  Simplify, schedule and automate daily life.
                </h5>
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  The world's smartest smart plug.
                </h5>
                <p class="product-text">
                  The world's smallest, smartest, smart plug. Control your home
                  from your phone with the WIFIPLUG app and every major voice
                  assistant.
                </p>
                <div class="text-center margin-top-5 product-button button-2">
                  <a
                    type="link"
                    class="btn btn-secondary font-weight-bold"
                    href="https://wifiplug.co.uk/"
                  >
                    Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="serviceplug-col"
          class="col-lg product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10 content-div"
            >
              <div>
                <h3 class="text-color-primary">SERVICEPLUG</h3>
                <h5 class="text-color-secondary">
                  Manage your appliances, and extend their lifespan.
                </h5>
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  Detect faults with your appliances, before they happen.
                </h5>
                <p class="product-text">
                  Our machine learning can detect potential faults with your
                  machine, before they become problems - statistics show that
                  predictive maintenance can add an extra two years to your
                  machine's lifespan!
                </p>
                <div class="text-center margin-top-5 product-button button-2">
                  <a
                    type="link"
                    class="btn btn-secondary font-weight-bold"
                    routerLink="serviceplug"
                  >
                    Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="whitelabel-col"
          class="col-lg product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10 content-div"
            >
              <div>
                <h3 class="text-color-primary">
                  White Labelling
                </h3>
                <h5 class="text-color-secondary">
                  Our products. <br />Your business.
                </h5>
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  Rebrand our products for your own business.
                </h5>
                <p class="product-text">
                  We provide you the blank product, on which you can apply your
                  own logo and other information. The smart plug can be managed
                  with the dedicated app, which you can also personalise with
                  your logo.
                </p>
                <div class="text-center margin-top-5 product-button button-2">
                  <a
                    type="link"
                    class="btn btn-secondary font-weight-bold"
                    routerLink="whitelabel"
                  >
                    Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="consulting-col"
          class="col-lg product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10 content-div last-content-div"
            >
              <div>
                <h3 class="text-color-primary">Consulting</h3>
                <h5 class="text-color-secondary">
                  Brilliant solutions. <br />Profitable results.
                </h5>
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  Work with us to get better results.
                </h5>
                <p class="product-text">
                  We have worked with a lot of companies, to provide them the
                  best solution adapted to their problems.
                </p>
                <div class="text-center margin-top-5 product-button button-2">
                  <a
                    type="link"
                    class="btn btn-secondary font-weight-bold"
                    routerLink="consulting"
                  >
                    Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
