/*********************************************************************************************
 * Define the 4 products images here
 *********************************************************************************************/
#wifiplug-col {
  background-image: url(src/assets/images/home/WIFIPLUG_HOME_Render_4.png);
}
#serviceplug-col {
  background-image: url(src/assets/images/home/machine_background.jpg);
}
#whitelabel-col {
  background-image: url(src/assets/images/home/whitelabeling_background.png);
}
#consulting-col {
  background-image: url(src/assets/images/home/consulting_background_rotated.jpg);
}
/*********************************************************************************************/

/*********************************************************************************************
 * General styles
 *********************************************************************************************/
h3,
.product-presentation * {
  font-weight: bold;
}
.row-small {
  display: none;
}
.product-background {
  background-position: center;
  background-size: cover;
}
.small-display-second-row {
  border-top: 0.1rem solid var(--bg-light);
}
article .container-fluid .row .col-lg:nth-child(even) {
  background-color: var(--bg-primary-light);
}
article .container-fluid .row .col-lg:nth-child(odd),
#products-container {
  background-color: #e0e0e0;
  //background-color: var(--bg-primary);
}
.with-border {
  border-left: 0.1rem solid var(--bg-light);
  border-right: 0.1rem solid var(--bg-light);
}

// Prevents the rotated cols. from overlapping other elements
article .container-fluid .row {
  overflow: hidden;
}

/*********************************************************************************************
 * Small screens styles
 *********************************************************************************************/
@media (max-width: 991.9px) {
  .product-content {
    transform: rotate(-10deg);
  }
  .products-row > .row {
    margin-top: -10% !important;
    margin-bottom: -10% !important;
  }
  .product-col {
    transform: rotate(10deg);
    min-width: 140%;
    margin-left: -20%;
  }
  .product-content {
    padding-left: 20%;
    padding-right: 20%;
  }
  .with-border {
    border-top: 0.1rem solid var(--bg-light);
    border-bottom: 0.1rem solid var(--bg-light);
  }
}
@media (max-width: 575.9px) {
  .padding-top-10 {
    padding-top: 5rem !important;
  }
  .padding-bottom-10 {
    padding-bottom: 5rem !important;
  }
}

/*********************************************************************************************
 * Large screens styles
 *********************************************************************************************/
@media (min-width: 992px) {
  // Transitions and styles for the content divs that appear on hover
  .product-col:hover .product-presentation > * {
    opacity: 1;
    transform: none;
    transition: 0.3s ease-in-out;
  }
  .product-col .product-title {
    opacity: 0;
    transform: translateY(-50px) scale(0);
  }
  .product-col .product-text {
    opacity: 0;
    transform: translateY(-100px) translateX(200px) scale(0);
  }
  .product-col .product-button {
    opacity: 0;
    transform: translateY(20px) scale(0.5);
  }
  .product-col:hover {
    flex-grow: 2;
  }
  .product-col:hover .darkened-content {
    background: rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
  }

  // Other styles for large screens
  .content-div {
    padding-left: 17% !important;
    padding-right: 17% !important;
  }
  .first-content-div {
    padding-left: 6rem !important;
  }
  .last-content-div {
    padding-right: 6rem !important;
  }
  .products-row {
    margin-left: -6% !important;
    margin-right: -6% !important;
  }
  .height-vp-full-with-header {
    height: calc(100vh - 80px - 0.3rem);
  }
  #products-container {
    position: absolute !important;
  }
  .product-content {
    transform: rotate(-10deg);
  }
  .product-col {
    transform: rotate(10deg) translateY(-10%);
    padding: 0 !important;
    height: 110vh;
    transition: 0.1s ease-in;
    -webkit-transform-origin: 50% 55%;
    transform-origin: 50% 55%;
  }
  .border-col {
    margin-left: -50%;
    margin-right: -50%;
    padding-left: 50%;
    padding-right: 50%;
  }
}
