<article>
  <div
    id="products-container"
    class="container-fluid p-0 border-top-secondary border-bottom-secondary"
  >
    <!-- LARGER DISPLAY - SINGLE ROW (not displayed on small screens) -->
    <div class="row row-large product-row">
      <div class="row m-0 height-vp-full-with-header">
        <div class="col-lg product-col first-col">
          <div
            class="product-content height-100 border-col gradient-background"
          >
            <div id="wifiplug-col" class="product-background height-100">
              <div
                class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10 content-div"
              >
                <div class="padding-left-2">
                  <h3>WifiPlug</h3>
                  <h5>
                    Simplify, schedule and automate daily life.
                  </h5>
                  <!--
                  <img src="/assets/images/Wifiplug Logo - White.png" height="30px"
                  />
                  -->
                </div>
                <div class="product-presentation">
                  <h5 class="product-title">
                    The world's smartest smart plug.
                  </h5>
                  <p class="product-text">
                    The world's smallest, smartest, smart plug. Control your
                    home from your phone with the WIFIPLUG app and every major
                    voice assistant.
                  </p>
                  <div class="text-center margin-top-5 product-button">
                    <a
                      type="button"
                      class="btn btn-primary font-weight-bold"
                      href="https://wifiplug.co.uk/"
                    >
                      Details
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="serviceplug-col"
          class="col-lg product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10 content-div"
            >
              <div class="padding-left-5 ml-2">
                <h3>ServicePlug</h3>
                <h5>
                  Manage your appliances, and extend their lifespan.
                </h5>
                <!--
                <img src="/assets/images/ServicePlug.png" height="20px" />
                -->
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  Detect faults with your appliances, before they happen.
                </h5>
                <p class="product-text">
                  Our machine learning can detect potential faults with your
                  machine, before they become problems - statistics show that
                  predictive maintenance can add an extra two years to your
                  machine's lifespan!
                </p>
                <div class="text-center margin-top-5 product-button button-2">
                  <button
                    type="button"
                    class="btn btn-primary font-weight-bold"
                    routerLink="serviceplug"
                  >
                    Details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-lg product-col z-index-1 gradient-background with-border"
        >
          <div id="whitelabel-col" class="product-background height-100">
            <div class="product-content height-100">
              <div
                class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10 content-div"
              >
                <div class="padding-left-5 ml-2">
                  <h3>White Labeling</h3>
                  <h5>
                    Rebrand our products for your own business.
                  </h5>
                </div>
                <div class="product-presentation">
                  <h5 class="product-title">
                    Detect faults with your appliances, before they happen.
                  </h5>
                  <p class="product-text">
                    Our machine learning can detect potential faults with your
                    machine, before they become problems - statistics show that
                    predictive maintenance can add an extra two years to your
                    machine's lifespan!
                  </p>
                  <div class="text-center margin-top-5 product-button">
                    <button
                      type="button"
                      class="btn btn-primary font-weight-bold"
                      routerLink="whitelabel"
                    >
                      Details
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg product-col">
          <div
            id="consulting-col"
            class="product-content height-100 border-col product-background"
          >
            <div
              class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10 content-div gradient-background"
            >
              <div class="padding-left-6">
                <h3>Consulting</h3>
                <h5>Brilliant solutions. <br />Profitable results.</h5>
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  Detect faults with your appliances, before they happen.
                </h5>
                <p class="product-text">
                  Our machine learning can detect potential faults with your
                  machine, before they become problems - statistics show that
                  predictive maintenance can add an extra two years to your
                  machine's lifespan!
                </p>
                <div class="text-center margin-top-5 product-button">
                  <button
                    type="button"
                    class="btn btn-primary font-weight-bold"
                    routerLink="consulting"
                  >
                    Details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SMALLER DISPLAY - TWO ROWS (not displayed on large screens) -->
    <div class="row row-small">
      <!-- FIRST ROW -->
      <div class="row m-0 height-vp-full-with-header">
        <div class="col product-col">
          <div
            class="product-content height-100 border-col gradient-background"
          >
            <div id="wifiplug-col" class="product-background height-100">
              <div
                class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10"
              >
                <div class="padding-left-2">
                  <h3>WifiPlug</h3>
                  <h5>
                    Simplify, schedule and automate daily life.
                  </h5>
                  <!--
                  <img src="/assets/images/Wifiplug Logo - White.png" height="30px" />
                  -->
                </div>
                <div class="product-presentation">
                  <h5 class="product-title">
                    The world's smartest smart plug.
                  </h5>
                  <p class="product-text">
                    The world's smallest, smartest, smart plug. Control your
                    home from your phone with the WIFIPLUG app and every major
                    voice assistant.
                  </p>
                  <div class="text-center margin-top-5 product-button">
                    <a
                      type="button"
                      class="btn btn-primary font-weight-bold"
                      href="https://wifiplug.co.uk/"
                    >
                      Details
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="serviceplug-col"
          class="col product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10"
            >
              <div class="padding-left-4">
                <h3>ServicePlug</h3>
                <h5>
                  Manage your appliances, and extend their lifespan.
                </h5>
                <!--
                <img src="/assets/images/ServicePlug.png" height="20px" />
                -->
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  Detect faults with your appliances, before they happen.
                </h5>
                <p class="product-text">
                  Our machine learning can detect potential faults with your
                  machine, before they become problems - statistics show that
                  predictive maintenance can add an extra two years to your
                  machine's lifespan!
                </p>
                <div class="text-center margin-top-5 product-button">
                  <button
                    type="button"
                    class="btn btn-primary font-weight-bold"
                  >
                    Details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SECOND ROW -->
      <div class="row m-0 height-vp-full-with-header small-display-second-row">
        <div class="col product-col">
          <div
            class="product-content height-100 border-col gradient-background"
          >
            <div id="whitelabel-col" class="product-background height-100">
              <div
                class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10"
              >
                <div class="padding-left-2">
                  <h3>White Labeling</h3>
                  <h5>
                    Rebrand our products for your own business.
                  </h5>
                </div>
                <div class="product-presentation">
                  <h5 class="product-title">
                    Detect faults with your appliances, before they happen.
                  </h5>
                  <p class="product-text">
                    Our machine learning can detect potential faults with your
                    machine, before they become problems - statistics show that
                    predictive maintenance can add an extra two years to your
                    machine's lifespan!
                  </p>
                  <div class="text-center margin-top-5 product-button">
                    <button
                      type="button"
                      class="btn btn-primary font-weight-bold"
                    >
                      Details
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="consulting-col-2"
          class="col product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column justify-content-between padding-top-10 padding-bottom-10"
            >
              <div class="padding-left-4">
                <h3>Consulting</h3>
                <h5>Brilliant solutions. <br />Profitable results.</h5>
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  Detect faults with your appliances, before they happen.
                </h5>
                <p class="product-text">
                  Our machine learning can detect potential faults with your
                  machine, before they become problems - statistics show that
                  predictive maintenance can add an extra two years to your
                  machine's lifespan!
                </p>
                <div class="text-center margin-top-5 product-button">
                  <button
                    type="button"
                    class="btn btn-primary font-weight-bold"
                  >
                    Details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
