<article>
  <div
    id="products-container"
    class="container-fluid p-0 border-top-secondary border-bottom-secondary"
  >
    <div class="row m-0 row-large products-row">
      <div class="row m-0 width-100 second-row">
        <div
          id="wifiplug-col"
          class="col-lg product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column padding-top-9 padding-bottom-10 content-div first-content-div"
            >
              <div class="margin-bottom-2">
                <h3 class="text-color-primary">WIFIPLUG</h3>
                <h5 class="text-color-secondary">
                  Simplify, schedule and automate daily life.
                </h5>
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  The world's smartest smart plug.
                </h5>
                <p class="product-text">
                  Control your home from your phone, voice or location, anywhere
                  in the world.
                </p>
                <div class="text-center margin-top-2 product-button button-2">
                  <a
                    type="link"
                    class="btn btn-secondary font-weight-bold"
                    href="https://wifiplug.co.uk/"
                  >
                    Buy now
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="serviceplug-col"
          class="col-lg product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column padding-top-9 padding-bottom-10 content-div"
            >
              <div class="margin-bottom-2">
                <h3 class="text-color-primary">SERVICEPLUG</h3>
                <h5 class="text-color-secondary">
                  Manage your appliances, and extend their lifespan.
                </h5>
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  Detect faults with your appliances, before they happen.
                </h5>
                <p class="product-text">
                  Detect a fault before it happens with myma’s state of the art
                  machine learning. Predictive & Preventative maintenance can
                  expand the lifespan of your machine by up to two years!
                </p>
                <div class="text-center margin-top-2 product-button button-2">
                  <a
                    type="link"
                    class="btn btn-secondary font-weight-bold"
                    routerLink="serviceplug"
                  >
                    Learn more
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="whitelabel-col"
          class="col-lg product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column padding-top-9 padding-bottom-10 content-div"
            >
              <div class="margin-bottom-2">
                <h3 class="text-color-primary">
                  WHITE LABELLING
                </h3>
                <h5 class="text-color-secondary">
                  Your business. Your brand. Our products.
                </h5>
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  We’ve done the hard work.
                </h5>
                <p class="product-text">
                  myma has invested years of hard work building the platform
                  meaning you don’t have to. You can whitelabel our services and
                  take full advantage of the myma platform.
                </p>
                <div class="text-center margin-top-2 product-button button-2">
                  <a
                    type="link"
                    class="btn btn-secondary font-weight-bold"
                    routerLink="whitelabel"
                  >
                    Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="consulting-col"
          class="col-lg product-col z-index-1 product-background with-border"
        >
          <div class="product-content height-100">
            <div
              class="height-100 d-flex flex-column padding-top-9 padding-bottom-10 content-div last-content-div"
            >
              <div class="margin-bottom-2">
                <h3 class="text-color-primary">CONSULTING</h3>
                <h5 class="text-color-secondary padding-right-7">
                  Brilliant solutions. Profitable results.
                </h5>
              </div>
              <div class="product-presentation">
                <h5 class="product-title">
                  Work with us to get better results.
                </h5>
                <p class="product-text padding-right-3">
                  We have worked with a lot of companies, to provide them the
                  best solution adapted to their problems.
                </p>
                <div class="text-center margin-top-2 product-button button-2">
                  <a
                    type="link"
                    class="btn btn-secondary font-weight-bold"
                    routerLink="consulting"
                  >
                    Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
