<div class="container-fluid p-0 min-height-vp-full spacing-0">
  <div class="row m-0 min-height-vp-full contact-banner-row">
    <div class="col-lg-7 d-flex flex-column justify-content-center padding-2 padding-right-8 contact-banner-left">
      <form class="contact-form" (ngSubmit)="processForm()">
        <!-- name -->
        <div class="form-group">
          <label for="contactNameInput">Name</label>
          <input
            id="contactNameInput"
            type="text"
            name="name"
            class="form-control"
            placeholder="Your Name"
            [(ngModel)]="name"
          />
        </div>
        <!-- email -->
        <div class="form-group">
          <label for="contactEmailInput">Email address</label>
          <input
            id="contactEmailInput"
            type="email"
            name="email"
            class="form-control"
            placeholder="Your Email"
            [(ngModel)]="email"
          />
        </div>
        <!-- message -->
        <div class="form-group">
          <label for="contactEmailInput">Message</label>
          <textarea
            id="contactMessageInput"
            class="form-control contact-textarea"
            name="message"
            placeholder="What's on your mind?"
            [(ngModel)]="message"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div
      class="col-lg-5 padding-right-5 d-flex flex-column contact-banner-right text-center background-color-primary"
    >
      <div class="text-color-light">
        <h1 class="font-weight-bold padding-bottom-1">
          Get In Touch
        </h1>
        <h4 class="padding-bottom-1 text-center">
          Want to speak to us? <br />
          Call us on
          <a class="text-color-light" href="tel:+443333449434"
            ><u>+44 33 33 44 9434</u></a
          >
        </h4>

        <h4 class="text-center">
          Follow us for all the latest!
        </h4>
      </div>
      <div class="d-flex justify-content-center">
        <a class="mx-3 network-link" href="https://facebook.com/wifiplug">
          <img
            class="network-image"
            src="assets/images/networks/facebook.png"
            alt="Facebook icon"
          />
        </a>
        <a
          class="mx-3 network-link"
          href="https://linkedin.com/company/wifi-plug-ltd"
        >
          <img
            class="network-image"
            src="assets/images/networks/linkedin.png"
            alt="Linkedin icon"
          />
        </a>
        <a class="mx-3 network-link" href="https://www.instagram.com/wifiplug/">
          <img
            class="network-image"
            src="assets/images/networks/instagram.png"
            alt="Instagram icon"
          />
        </a>
        <a class="mx-3 network-link" href="https://twitter.com/wifiplug">
          <img
            class="network-image"
            src="assets/images/networks/twitter.png"
            alt="Twitter icon"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
