<article id="offer-article" class="margin-bottom-6 background-color-light">
  <div class="padding-left-2 padding-right-2 padding-top-6 padding-bottom-1">
    <h3 class="text-color-primary font-weight-bold">Our offer to you...</h3>
    <h5 class="text-color-secondary">
      Consumer or manufacturer, our solution is for you!
    </h5>
  </div>
  <div class="container-fluid">
    <app-tabs>
      <app-tab tabTitle="I'm a Manufacturer">
        <div class="container">
          <div class="row">
            <div class="col-sm d-flex flex-column align-items-center">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/images/label.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">White Label / Own Brand</h5>
                  <p class="card-text">
                    Our turn key solution has been built with over 40,000
                    developer hours and can be fully white labelled allowing
                    your company to 'Buy not build' at an incredible cost
                    advantage.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm d-flex flex-column align-items-center">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/images/speech.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Customer Interaction</h5>
                  <p class="card-text">
                    Building relationships with your customers can be hard,
                    especially if you're not present at the point of sale. Our
                    technology will help you bridge the gap.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm d-flex flex-column align-items-center">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/images/data.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Extending Appliance Lifespan</h5>
                  <p class="card-text">
                    We can detect faults ahead of time allowing you to take
                    action sooner.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-tab>
      <app-tab tabTitle="I'm a Consumer">
        <div class="container">
          <div class="row">
            <div class="col-sm d-flex flex-column align-items-center">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/images/delivery.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Extended Warranty</h5>
                  <p class="card-text">
                    Claim an extended warranty when you connect your appliances
                    (Washing machine, dishwasher, drier & fridge) to your
                    manufacturer.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm d-flex flex-column align-items-center">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/images/alert.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Real Time Notifications</h5>
                  <div class="card-text">
                    <ul>
                      <li>Wash Cycles</li>
                      <li>Overload Protection</li>
                      <li>Maintenance Info</li>
                      <li>Cost per wash</li>
                      <li>Tips & Tricks</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm d-flex flex-column align-items-center">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/images/power.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Your Usage</h5>
                  <p class="card-text">
                    Lower your electricity bill with useful insights based on
                    your individual consumption. Know the exact cost of your
                    next wash.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-tab>
    </app-tabs>
  </div>
</article>
