@media (min-width: 992px) {
  #offer-article {
    padding-top: calc(100vh - 80px - 0.6rem);
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  #offer-article {
    padding-top: calc((100vh - 80px - 0.6rem)*2);
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.card {
  background: transparent !important;
  text-align: center;
  border: none !important;
}

.offer-icon {
  height: 3.5rem;
  width: auto;
}

.card-title {
  color: var(--bg-secondary);
}

.card-text {
  color: var(--bg-primary);
}
