<article id="offer-article" class="margin-bottom-6 background-color-light">
  <div
    class="padding-left-2 padding-right-2 padding-top-6 padding-bottom-6 text-center"
  >
    <h3 class="text-color-primary font-weight-bold">
      Our Solution Is Built For Everyone
    </h3>
    <h5 class="text-color-secondary m-0">
      myma is designed with consumers and manufacturers in mind.
    </h5>
  </div>
  <div class="container-fluid">
    <app-tabs>
      <app-tab tabTitle="I'm a manufacturer">
        <div class="container tab-container">
          <div class="row m-0">
            <div
              class="col-sm d-flex flex-column align-items-center margin-top-3"
            >
              <div class="card">
                <div class="card-body">
                  <img
                    src="assets/images/label.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Your brand.</h5>
                  <p class="card-text">
                    Over 40,000 hours have gone into creating myma’s turnkey
                    solution which can be white labelled from start to finish.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-sm d-flex flex-column align-items-center margin-top-3"
            >
              <div class="card">
                <div class="card-body">
                  <img
                    src="assets/images/speech.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Customer interaction.</h5>
                  <p class="card-text">
                    myma keeps you and your customers connected at all times.
                    Difficulties in customer relations are a thing of the past.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-sm d-flex flex-column align-items-center margin-top-3"
            >
              <div class="card">
                <div class="card-body">
                  <img
                    src="assets/images/data.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Extended appliance lifespan.</h5>
                  <p class="card-text">
                    myma’s predictive fault detection gives you insights like
                    never before. Issues can now be fixed, actioned or otherwise
                    remedied before they happen.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-tab>
      <app-tab tabTitle="I'm a consumer">
        <div class="container tab-container">
          <div class="row m-0">
            <div
              class="col-sm d-flex flex-column align-items-center margin-top-3"
            >
              <div class="card">
                <div class="card-body">
                  <img
                    src="assets/images/delivery.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Extended warranty.</h5>
                  <p class="card-text">
                    Manufacturers on the myma platform will instantly offer an
                    extended warranty on your washing machine, dishwasher, drier
                    or fridge just for having it connected.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-sm d-flex flex-column align-items-center margin-top-3"
            >
              <div class="card">
                <div class="card-body">
                  <img
                    src="assets/images/alert.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Real-time notifications.</h5>
                  <p class="card-text">
                    Push notifications are available for wash cycles, overload
                    protection, maintenance information, general tips and tricks
                    and more for your appliance.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-sm d-flex flex-column align-items-center margin-top-3"
            >
              <div class="card">
                <div class="card-body">
                  <img
                    src="assets/images/power.png"
                    class="offer-icon margin-bottom-1"
                    alt="Offer icon"
                  />
                  <h5 class="card-title">Energy usage.</h5>
                  <p class="card-text">
                    myma’s energy cost calculator gives you another level of
                    granularity to help you reduce energy consumption and cost.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-tab>
    </app-tabs>
  </div>
</article>
