ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  text-align: center !important;
}

.card {
  background: transparent !important;
  text-align: center;
  border: none !important;
}

.offer-icon {
  height: 3.5rem;
  width: auto;
}

.card-title {
  color: var(--bg-secondary);
}

.card-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

@media (max-width: 992px) {
  .tab-container {
    max-width: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
