<article class="container-fluid p-0 background-color-primary">
  <div
    class="padding-left-2 padding-right-2 padding-top-5 padding-bottom-5 d-flex flex-column align-items-center text-color-light"
  >
    <h3 class="font-weight-bold">Interested?</h3>
    <h5>
      Manufacturer or consumer, learn more about our solution.
    </h5>
  </div>
  <div class="row m-0 text-center padding-left-2 padding-right-2">
    <div class="col margin-bottom-1">
      <button type="button" class="btn btn-secondary font-weight-bold" routerLink="/serviceplug/manufacturers">
        I'm a Manufacturer
      </button>
    </div>
    <div class="col margin-bottom-5">
        <button type="button" class="btn btn-secondary font-weight-bold" routerLink="/serviceplug/consumers">
          I'm a Consumer
        </button>
      </div>
  </div>
</article>
