.navbar {
  padding: unset;
  line-height: 4rem;
}
/*
.navbar-logo {
    margin-left: 2rem;
}*/
.navbar-toggler {
  margin-right: 1.5rem;
  border-radius: 0.5rem;
}

#navbarNav {
  background-color: var(--bg-light) !important;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }

  .serviceplug-menu-small {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }

  .serviceplug-menu-large {
    display: none;
  }
  /*/
  #navbarNav {
    height: 300px !important;
  }*/
}

@media (max-width: 991px) {
  .second-dropdown div {
    position: relative;
  }
  .second-dropdown div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1rem;
    height: 81%;
    z-index: 1000000;
    background-color: var(--bg-light);
    border-radius: 9999px 9999px 9999px 9999px;
  }

  .second-dropdown div {
    margin-left: 2rem;
  }
}

.full-height {
  height: 100vh;
}
