.app-image {
  width: 70%;
}

.card {
  border: none !important;
  background: none !important;
}
.card-title {
  font-weight: bold;
  color: var(--bg-light);
}
.card-subtitle {
  font-weight: bold;
  color: var(--bg-light);
  margin-bottom: 1.5rem !important;
}
.card-text {
  color: var(--bg-light);
  text-align: justify;
}

.card-body {
  padding-right: 0;
}

.howItWorks-container {
  padding: 0;
}

@media (max-width: 991.9px) {
  .howItWorks-container {
    width: auto;
  }

  .card-body {
    padding-left: 1rem;
  }
}

.howItWorks-container {
  border-top: 0.1rem solid var(--bg-secondary);
  border-bottom: 0.1rem solid var(--bg-secondary);
}

.howItWorks-container .row .col-lg:nth-child(even) {
  background-color: var(--bg-primary-light);
}
.howItWorks-container .row .col-lg:nth-child(odd) {
  background-color: var(--bg-primary);
}

.howItWorks-row-breakpoint {
  overflow: hidden;
}

.howItWorks-container {
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

@media (min-width: 992px) {
  .howItWorks-row-breakpoint {
    display: none;
  }
  .howItWorks-container .row {
    height: 20.5rem;
    overflow: visible;
  }
  .card-text {
    //z-index: -1;
    height: 0;
    opacity: 0;
    transform: scale(0);
    transform: translateY(1rem);
    position: relative;
    bottom: 0;
    left: 0;
  }
  .col-lg.howItWorks-step:hover .card-title,
  .col-lg.howItWorks-step:hover .card-subtitle {
    transition: 0.2s;
  }
  .col-lg.howItWorks-step:hover .card-text {
    position: initial;
    height: auto;
    opacity: 1;
    transform: none;
    transition: 0.3s ease-in-out;
  }
  .col-lg.howItWorks-step:not(:hover) .card-title {
    font-size: xx-large;
    text-align: center;
  }
  .col-lg.howItWorks-step:not(:hover) .card-subtitle {
    font-size: large;
    text-align: center;
  }
  .howItWorks-step {
    height: 20.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.1s ease-in;
  }
  .howItWorks-step:hover {
    flex-grow: 1.5;
  }
  .howItWorks-step:not(:hover) {
    justify-content: center;
  }
}

/**
 * Arrows after each step div, for small and large displays
 */
.howItWorks-step:after,
.howItWorks-step:before {
  content: "";
  position: absolute;
  z-index: 1;
}

// Removes the arrow for the last step
.howItWorks-step:last-child::after,
.howItWorks-step:last-child::before {
  display: none;
}

// Small display version
@media (max-width: 991.9px) {
  .howItWorks-step:after,
  .howItWorks-step:before {
    width: 50%;
    height: 20px;
    top: 100%;
  }

  .howItWorks-step:nth-of-type(odd):after {
    left: 0;
    background: linear-gradient(
      to left bottom,
      var(--bg-primary) 50%,
      transparent 52%
    );
  }
  .howItWorks-step:nth-of-type(odd):before {
    right: 0;
    background: linear-gradient(
      to right bottom,
      var(--bg-primary) 50%,
      transparent 52%
    );
  }

  .howItWorks-step:nth-of-type(even):after {
    left: 0;
    background: linear-gradient(
      to left bottom,
      var(--bg-primary-light) 50%,
      transparent 52%
    );
  }
  .howItWorks-step:nth-of-type(even):before {
    right: 0;
    background: linear-gradient(
      to right bottom,
      var(--bg-primary-light) 50%,
      transparent 52%
    );
  }
}

// Large display version
@media (min-width: 992px) {
  .howItWorks-step:after,
  .howItWorks-step:before {
    width: 20px;
    height: 50%;
    left: 100%;
  }

  .howItWorks-step:nth-of-type(odd):after {
    bottom: 0;
    background: linear-gradient(
      to right bottom,
      var(--bg-primary) 50%,
      transparent 52%
    );
  }
  .howItWorks-step:nth-of-type(odd):before {
    top: 0;
    background: linear-gradient(
      to right top,
      var(--bg-primary) 50%,
      transparent 52%
    );
  }

  .howItWorks-step:nth-of-type(even):after {
    bottom: 0;
    background: linear-gradient(
      to right bottom,
      var(--bg-primary-light) 50%,
      transparent 52%
    );
  }
  .howItWorks-step:nth-of-type(even):before {
    top: 0;
    background: linear-gradient(
      to right top,
      var(--bg-primary-light) 50%,
      transparent 52%
    );
  }
}
