<article id="howItWorks-anchor" class="howItWorks-article border-top-secondary">
  <div
    class="padding-left-2 padding-right-2 padding-top-5 d-flex justify-content-between align-items-end"
  >
    <div class="padding-bottom-1">
      <h3 class="text-color-primary font-weight-bold">How does it work?</h3>
      <h5 class="text-color-secondary">
        Our solution is quite literally, PLUG and play!
      </h5>
    </div>
    <img
      src="assets/images/apps1.png"
      class="img-fluid app-image"
      alt="App image"
    />
  </div>
  <div class="container-fluid howItWorks-container">
    <div class="row" myMatchHeight="howItWorks-step">
      <div *ngFor="let step of steps" class="col-lg howItWorks-step">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ step.title }}</h4>
            <h6 class="card-subtitle">
              {{ step.subtitle }}
            </h6>
            <p class="card-text">
              {{ step.content }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
