<div
  class="container-fluid padding-top-6 padding-bottom-6 padding-left-4 padding-right-4"
>
  <div class="row justify-content-center margin-bottom-3">
    <h1 class="font-weight-bold m-0 text-color-primary">
      White Labelling
    </h1>
  </div>
  <div class="row">
    <div class="col">
      <img
        class="img-fluid"
        src="assets/images/whitelabel/WhitelabellingV3.png"
        alt="Whitelabelling image"
      />
    </div>
  </div>
  <div class="row justify-content-center margin-top-3">
    <a
      type="button"
      routerLink="/contact"
      class="btn btn-secondary font-weight-bold meet-button"
    >
      Start now!
    </a>
  </div>
</div>

<app-footer></app-footer>
