@media (min-width: 992px) {
  .banner-large {
    display: block !important;
  }
  .banner-small {
    display: none !important;
  }
}
@media (max-width: 991.9px) {
  .banner-large {
    display: none !important;
  }
  .banner-small {
    display: block !important;
  }
  .second-image {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
