<div class="container-fluid p-0 min-height-content-full spacing-0">
  <div class="row m-0 min-height-content-full">
    <div class="col-sm-7 p-0 image-col">
      <img
        class="width-100 company-banner-image height-content-full"
        src="assets/images/team/Mindspace_WifiPlug_6006.jpg"
      />
    </div>
    <div
      class="col-sm-5 padding-right-5 min-height-content-full d-flex flex-column company-banner-right text-center background-color-primary"
    >
      <div class="text-color-light">
        <h1 class="font-weight-bold padding-bottom-1">
          Hi, We're myma!
        </h1>
        <h4 class="padding-bottom-1 text-center">
          Build or Buy?
        </h4>
        <p class="text px-4">
          At myma we have invested over 40,000hrs building the most robust,
          scalable IoT infrastructure on the planet. We launched the original
          smart plug WIFIPLUG 7 years ago and continue to outperform the
          competition. Our simple turnkey solution means we can get your project
          up and running in weeks not years. Our UK based team are happy to
          discuss your next project with you.
        </p>
      </div>
      <div class="margin-top-1 meet-button">
        <button
          type="button"
          (click)="onMoreClick('team-anchor')"
          class="btn btn-secondary font-weight-bold"
        >
          Meet the team
        </button>
      </div>
    </div>
  </div>
</div>
