/*********************************************************************************************
 * General styles
 *********************************************************************************************/
.company-banner-image {
  object-fit: cover;
  object-position: center;
}
.image-col {
  border-bottom: 0.15rem solid var(--bg-secondary);
}
@media (min-width: 992px) {
  .image-col {
    border-right: 0.16rem solid var(--bg-secondary);
  }
}
.text {
  text-align: justify;
}
.company-banner-right {
  justify-content: center;
}
.company-banner-right:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 100%;
  right: 100%;
  z-index: 1;
}
.company-banner-right:after {
  bottom: 0;
  background: linear-gradient(
    to left bottom,
    var(--bg-primary) 50%,
    transparent 50.3%
  );
}
.company-banner-right:before {
  content: "";
  position: absolute;
  width: calc(150px);
  height: 100%;
  right: 100%;
  z-index: 1;
  /* border-right: 0.15rem solid var(--bg-secondary); */
  transform: translateX(-0.15rem);
}
.company-banner-right:before {
  bottom: 0;
  background: linear-gradient(
    to left bottom,
    var(--bg-secondary) 50%,
    transparent 50.3%
  );
}

/*********************************************************************************************
 * Small screens styles
 *********************************************************************************************/
@media (max-width: 991.9px) {
  .company-banner-right {
    padding: 0 !important;
    padding-right: 1rem !important;
  }
  .text {
    text-align: center;
    padding: 0 !important;
  }
  .meet-button {
    margin-top: 1.5rem;
  }
}
@media (max-width: 767.9px) {
  .company-banner-right {
    padding: 0 !important;
  }
}
@media (max-width: 575.9px) {
  .company-banner-right {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    height: max-content !important;
    background: var(--bg-primary);
  }
  .banner-row {
    height: 100vh !important;
  }
  .border-bottom-light {
    border: none !important;
  }
  .company-banner-image {
    height: 100% !important;
    object-position: bottom !important;
  }
}
@media (min-width: 576px) and (max-width: 991.9px) {
  .col-sm-7,
  .col-sm-5 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .text,
  h1,
  h4 {
    margin: 0 !important;
  }
  .meet-button {
    margin-top: 1rem !important;
  }
}
