.company-banner-image {
  object-fit: cover;
}

@media (min-width: 992px) {/*
  .company-banner-image {
    height: 100vh;
  }*/
}

@media (max-width: 992px) {
  .company-banner-right {
    height: auto !important;
  }
  .company-banner-image {
    height: 100% !important;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .image-col {
    max-height: 50% !important;
  }
}

.image-col {
  border-bottom: 0.15rem solid var(--bg-secondary);
}

.company-banner-right {
  justify-content: center;
}

.text {
  text-align: justify;
}

@media (max-width: 992px) {
  .company-banner-right {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .text {
    text-align: center;
    padding: 0 !important;
  }

  .meet-button {
    margin-top: 1.5rem;
  }
}

.company-banner-right:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 100%;
  right: 100%;
  z-index: 1;
}
.company-banner-right:after {
  bottom: 0;
  background: linear-gradient(
    to left bottom,
    var(--bg-primary) 50%,
    transparent 50.3%
  );
}
.company-banner-right:before {
  content: "";
  position: absolute;
  width: calc(150px + 0.15rem);
  height: 100%;
  right: 100%;
  z-index: 1;
  border-right: 0.15rem solid var(--bg-secondary);
}
.company-banner-right:before {
  bottom: 0;
  background: linear-gradient(
    to left bottom,
    var(--bg-secondary) 50%,
    transparent 50.3%
  );
}
