<div
  class="container-fluid p-0 height-content-full spacing-0"
>
  <div class="row m-0 height-content-full">
    <div class="col-sm-7 p-0 image-col">
      <img
        class="width-100 company-banner-image height-content-full"
        src="assets/images/team/Mindspace_WifiPlug_6006.jpg"
      />
    </div>
    <div
      class="col-sm-5 padding-right-5 height-100 d-flex flex-column company-banner-right text-center background-color-primary"
    >
      <div class="text-color-light">
        <h1 class="font-weight-bold padding-bottom-1">
          Hi, We're myma!
        </h1>
        <h4 class="padding-bottom-1 text-center">
          We're on a mission to provide industry leading IoT services.
        </h4>

        <p class="text px-4">
          Our team is highly motivated, enthusiastic and excited to provide
          reliable and high quality products to tens of thousands of users.
        </p>
      </div>
      <div class="margin-top-1 meet-button">
        <button
          type="button"
          (click)="onMoreClick('team-anchor')"
          class="btn btn-secondary font-weight-bold"
        >
          Meet the team
        </button>
      </div>
    </div>
  </div>
</div>
