<div
  class="container-fluid p-0 height-vp-full spacing-0 background-color-primary"
>
  <div class="row m-0 height-vp-full">
    <div class="col-lg-7 p-0 image-col">
      <img
        class="width-100 company-banner-image"
        src="assets/images/Mindspace_WifiPlug_6006.jpg"
      />
    </div>
    <div
      class="col-lg-5 padding-right-5 height-100 d-flex flex-column company-banner-right text-center"
    >
      <div class="text-color-light">
        <h1 class="font-weight-bold padding-bottom-1">
          Hi, we're myma!
        </h1>
        <h4 class="padding-bottom-1 text-center">
          We're on a mission to provide industry leading IoT services.
        </h4>

        <p class="text px-4">
          Our team is highly motivated, enthusiastic and excited to provide
          reliable and high quality products to tens of thousands of users.
        </p>
      </div>
      <div class="margin-top-1">
        <button
          type="button"
          (click)="onMoreClick('team')"
          class="btn btn-secondary font-weight-bold meet-button"
        >
          Meet the team
        </button>
      </div>
    </div>
  </div>
</div>
