/**
 * Defines all margin classes
 */

// The spacing unit used to define all margin values
$spacing: 1rem;

:root {
  --spacing-half: 0.5rem;
}

// ALL SIDES MARGINS
.margin-1 {
  margin: $spacing !important;
}
.margin-2 {
  margin: $spacing * 2 !important;
}
.margin-3 {
  margin: $spacing * 3 !important;
}
.margin-4 {
  margin: $spacing * 4 !important;
}
.margin-5 {
  margin: $spacing * 5 !important;
}

// LEFT MARGINS
.margin-left-1 {
  margin-left: $spacing !important;
}
.margin-left-2 {
  margin-left: $spacing * 2 !important;
}
.margin-left-3 {
  margin-left: $spacing * 3 !important;
}
.margin-left-4 {
  margin-left: $spacing * 4 !important;
}
.margin-left-5 {
  margin-left: $spacing * 5 !important;
}

// RIGHT MARGINS
.margin-right-1 {
  margin-right: $spacing !important;
}
.margin-right-2 {
  margin-right: $spacing * 2 !important;
}
.margin-right-3 {
  margin-right: $spacing * 3 !important;
}
.margin-right-4 {
  margin-right: $spacing * 4 !important;
}
.margin-right-5 {
  margin-right: $spacing * 5 !important;
}

// TOP MARGINS
.margin-top-1 {
  margin-top: $spacing !important;
}
.margin-top-2 {
  margin-top: $spacing * 2 !important;
}
.margin-top-3 {
  margin-top: $spacing * 3 !important;
}
.margin-top-4 {
  margin-top: $spacing * 4 !important;
}
.margin-top-5 {
  margin-top: $spacing * 5 !important;
}
.margin-top-6 {
  margin-top: $spacing * 6 !important;
}

// BOTTOM MARGINS
.margin-bottom-1 {
  margin-bottom: $spacing !important;
}
.margin-bottom-2 {
  margin-bottom: $spacing * 2 !important;
}
.margin-bottom-3 {
  margin-bottom: $spacing * 3 !important;
}
.margin-bottom-4 {
  margin-bottom: $spacing * 4 !important;
}
.margin-bottom-5 {
  margin-bottom: $spacing * 5 !important;
}
.margin-bottom-6 {
  margin-bottom: $spacing * 6 !important;
}
