<app-consumers-banner></app-consumers-banner>

<main>
  <app-consumers-info></app-consumers-info>
  <!--
  <div class="d-flex flex-column align-items-center text-center padding-2 padding-top-3 padding-bottom-3 background-color-primary text-color-light">
    <h3 class="margin-bottom-1">Every year, £1Bn is spent on service engineer call outs.</h3>
    <h5>
      With our predicitive maintenance solution and scheduled maintenance in the
      app, we can reduce this number significantly for all manufacturers.
    </h5>
  </div>
  -->
</main>

<app-footer></app-footer>
