@media (min-width: 992px) {
  .banner-div {
    height: 100vh;
    width: 100vw;
  }
}

.banner-div {
  background-image: url(assets/images/shutterstock_1208917930.jpg);
  background-size: cover;
  background-position-x: center;
}

.banner-text {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.49)),
    to(transparent)
  );
  background-image: linear-gradient(
    180deg,
    rgba(102, 46, 139, 0.3),
    transparent
  );
}
