<div class="img-fluid banner-div shadow-sm height-vp-full">
  <div
    class="height-100 padding-5 banner-text d-flex flex-column justify-content-center align-items-start"
  >
    <h1 class="font-weight-bold m-0 text-color-light myma-title">
      The science behind the appliance.
    </h1>
    <h4 class="padding-bottom-1 padding-top-1 text-color-light">
      We provide both manufacturers and consumers insight into their appliances.
    </h4>
    <button
      type="button"
      (click)="onMoreClick('products-anchor')"
      class="btn btn-primary font-weight-bold"
    >
      Learn more
    </button>
  </div>
</div>
