<div class="container-fluid p-0 spacing-0 background-color-primary">
  <div class="row m-0 banner-row">
    <div class="col-lg-8 p-0 image-col">
      <img
        class="width-100 manufacturers-banner-image"
        src="/assets/images/Dashboard.jpg"
      />
    </div>
    <div
      class="col-lg-4 padding-right-4 padding-top-4 d-flex flex-column manufacturers-banner-right text-center border-bottom-light"
    >
      <div class="text-color-light">
        <h1 class="font-weight-bold padding-bottom-1">
          Manufacturer benefits
        </h1>
        <h4 class="padding-bottom-1">
          Your brand, your customers, your machines, your data, one platform -
          myma.
        </h4>
      </div>
      <div class="margin-top-1">
        <button
          type="button"
          (click)="onMoreClick('manufacturers-anchor')"
          class="btn btn-secondary font-weight-bold meet-button"
        >
          Discover
        </button>
      </div>
    </div>
  </div>
</div>
