<app-company-banner></app-company-banner>

<main>
  <article>
    <!--
    <div class="container-fluid m-0 p-0">
      <div class="row">
        <div class="col-lg-7 padding-bottom-6 border-top-secondary">
          <app-team></app-team>
        </div>
        <div class="col-lg-5 team-right-col background-color-primary-light">
          <app-maps></app-maps>
        </div>
      </div>
    </div>
    -->
    <app-team></app-team>
    <app-vacancies></app-vacancies>
    <app-maps></app-maps>
  </article>
</main>

<!--
<app-footer></app-footer>
-->