<div
  id="vacancies"
  class="container-fluid padding-3 padding-bottom-6 padding-top-5 background-color-primary vacancies-div"
>
  <div class="row m-0">
    <div class="padding-bottom-2 width-100">
      <h3 class="text-color-light font-weight-bold mb-0 text-center">
        Current vacancies
      </h3>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-sm">
      <div class="text-color-light text-justify margin-bottom-2">
        <h5 class="font-weight-bold">Firmware Engineer</h5>
        <ul class="font-weight-bold">
          <li>Starting: April 2020</li>
          <li>Position Type: Permanent</li>
          <li>Salary: Competitive</li>
        </ul>
        <p>
          We're looking for a well organised, experienced firmware engineer to
          work on-sight with our team as we continue to build and release more
          products.
        </p>
        <p>
          A suitable candidate will be experienced with low-level C/C++, have
          experience working with ARM Cortex processors, SPI/I2C and serial
          protocols.
        </p>
        <p>
          A good understanding of AWS, Git and project management using Jira
          will also be advantageous.
        </p>
      </div>
    </div>
    <div class="col flex-grow-0"></div>
    <div class="col-sm">
      <div class="text-color-light text-justify">
        <h5 class="font-weight-bold">C# Engineer</h5>
        <ul class="font-weight-bold">
          <li>Starting: April 2020</li>
          <li>Position Type: Permanent</li>
          <li>Salary: Competitive</li>
        </ul>
        <p>
          Expect to work on a wide variety of interconnected services that help
          to provide our customers with a second-to-none service. We're looking
          for a candidate who is comfortable and capable of following a project
          through it's entire life span, from concept to production deployments.
        </p>
        <p>
          Essential skills include and in-depth and demonstrated past of working
          with Production C# systems, a good understanding of RPC (RabbitMQ) and
          being able to work in an Agile team.
        </p>
        <p>
          A good understanding of AWS, Git and project management using Jira
          will also be advantageous.
        </p>
      </div>
    </div>
  </div>
  <div class="row m-0 justify-content-center margin-top-2">
    <button type="button" class="btn btn-secondary font-weight-bold">
      Apply for a position
    </button>
  </div>
</div>
