/*********************************************************************************************
 * Small screens styles
 *********************************************************************************************/
@media (max-width: 991.9px) {
  .vacancies-div {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .col-sm {
      padding: 0 !important;
  }
}
