<div class="container padding-top-6 padding-bottom-6">
  <div class="row justify-content-center margin-bottom-1">
    <h3 class="text-color-primary font-weight-bold m-0">
      We've Worked With The Best And Brightest
    </h3>
  </div>
  <div class="row justify-content-center">
    <div
      class="col-lg-4 text-center padding-top-2 padding-bottom-2"
      *ngFor="let image of images"
    >
      <img class="company-logo" src="{{ image }}" />
    </div>
  </div>
  <div class="row justify-content-center margin-top-3">
    <h4 class="m-0 text-color-primary">
      You want to work with us?
    </h4>
  </div>
  <div class="row justify-content-center margin-top-1">
    <a
      type="button"
      routerLink="/contact"
      class="btn btn-secondary font-weight-bold meet-button"
    >
      Start now!
    </a>
  </div>
</div>
