<div class="container-fluid padding-5 background-color-primary details-container">
  <div class="row m-0 flex-column align-items-center text-center">
    <div class="text-color-light">
      <h1 class="font-weight-bold padding-bottom-1">
        Get In Touch
      </h1>
      <h4 class="padding-bottom-1">
        Want to speak to us? Call us on
        <a class="text-color-light" href="tel:+443333449434"
          ><u>+44 33 33 44 9434</u></a
        >
      </h4>
      <h4>
        Follow us for all the latest!
      </h4>
    </div>
    <div class="d-flex">
      <a class="mx-3 network-link" href="https://facebook.com/wifiplug">
        <img
          class="network-image"
          src="assets/images/networks/facebook.png"
          alt="Facebook icon"
        />
      </a>
      <a
        class="mx-3 network-link"
        href="https://linkedin.com/company/wifi-plug-ltd"
      >
        <img
          class="network-image"
          src="assets/images/networks/linkedin.png"
          alt="Linkedin icon"
        />
      </a>
      <a class="mx-3 network-link" href="https://www.instagram.com/wifiplug/">
        <img
          class="network-image"
          src="assets/images/networks/instagram.png"
          alt="Instagram icon"
        />
      </a>
      <a class="mx-3 network-link" href="https://twitter.com/wifiplug">
        <img
          class="network-image"
          src="assets/images/networks/twitter.png"
          alt="Twitter icon"
        />
      </a>
    </div>
  </div>
</div>
