.network-image {
  height: 48px;
  border: 0.15rem solid var(--bg-light);
  border-radius: 50px;
}

.network-link:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

@media (max-width: 991.9px) {
  .details-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
