<div class="img-fluid banner-div shadow-sm">
  <div
    class="height-100 padding-5 banner-text d-flex flex-column justify-content-center align-items-start"
  >
    <img class="serviceplug-logo" src="assets/images/ServicePlug.png" alt="Serviceplug Logo"/>
    <h4 class="padding-bottom-1 text-color-light">
      We detect faults with your appliances, before they happen.
    </h4>
    <button
      type="button"
      (click)="onMoreClick('howItWorks-anchor')"
      class="btn btn-primary font-weight-bold"
    >
      Learn more
    </button>
  </div>
</div>
