/*********************************************************************************************
 * Defines all buttons styles, and redefines some bootstrap styles for buttons
 *********************************************************************************************/

.btn,
.form-control {
  border-radius: 0.5rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.btn-primary,
.btn-primary:disabled:hover {
  background-color: var(--bg-primary) !important;
  border-color: var(--bg-primary) !important;
}
.btn-secondary,
.btn-secondary:disabled:hover {
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}
.btn-light,
.btn-light:disabled:hover {
  background-color: var(--bg-light) !important;
  border-color: var(--bg-light) !important;
  color: var(--bg-primary) !important;
}
.btn:hover {
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}
.btn-primary:hover {
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}
.btn-secondary:hover {
  background-color: var(--bg-primary-light) !important;
  border-color: var(--bg-primary-light) !important;
}
