/*********************************************************************************************
 * Defines the font used in the whole app
 *********************************************************************************************/

@font-face {
  font-family: Myma;
  src: url(./fonts/Ubuntu_Regular.ttf);
}
@font-face {
  font-family: "Myma";
  src: url(./fonts/Ubuntu_Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Myma";
  src: url(./fonts/Ubuntu_Regular_Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Myma";
  src: url(./fonts/Ubuntu_Bold_Italic.ttf);
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: Myma;
}
