/*********************************************************************************************
 * Defines global styles
 *********************************************************************************************/
@import "assets/css/shared/fonts.scss";
@import "assets/css/shared/colors.scss";
@import "assets/css/shared/paddings.scss";
@import "assets/css/shared/margins.scss";
@import "assets/css/shared/scrollbars.scss";
@import "assets/css/shared/buttons.scss";
@import "assets/css/shared/sizing.scss";

/*********************************************************************************************
 * Global styles
 *********************************************************************************************/
body {
  overflow-x: hidden !important;
  background-color: var(--bg-light) !important;
}
.z-index-1 {
  z-index: 1;
}
a,
a:active,
a:focus {
  outline: none !important;
}
@media (max-width: 991.9px) {
  h1 {
    font-size: xx-large !important;
  }
}

/*********************************************************************************************
 * Dropdown menus styles
 *********************************************************************************************/
.dropdown-menu {
  color: inherit !important;
}
.dropdown-item.active,
.dropdown-item:active {
  color: inherit !important;
  background-color: #f8f9fa !important;
}

/*********************************************************************************************
 * Forms styles
 *********************************************************************************************/
.form-control {
  border: 1px solid #ced4da !important;
  color: #212529 !important;
}
.form-control:focus {
  border-color: var(--bg-primary-light) !important;
}

/*********************************************************************************************
 * Borders styles
 *********************************************************************************************/
.border-top-secondary {
  border-top: 0.15rem solid var(--bg-secondary);
}
.border-bottom-secondary {
  border-bottom: 0.15rem solid var(--bg-secondary);
}
.border-bottom-light {
  border-bottom: 0.15rem solid var(--bg-light);
}
.no-border * {
  border: none !important;
}
