<footer class="border-top-secondary">
  <div class="container-fluid padding-3 padding-bottom-2">
    <div class="row m-0">
      <div
        class="col-sm-3 d-flex flex-column text-color-primary-light margin-bottom-1"
      >
        <img
          class="myma-logo"
          [src]="'assets/images/myma-logo-p-500.png'"
          alt="myma logo"
        />
        <a>
          Myma provides both manufacturers and consumers insight into their
          appliances.
        </a>
      </div>
      <div
        class="col-sm-3 d-flex flex-column text-color-primary-light margin-bottom-1"
      >
        <h5 class="font-weight-bold text-color-primary">About Us</h5>
        <a routerLink="/company">What is myma?</a>
        <a href="/company#team">Meet the team</a>
        <a href="/company#vacancies">We're hiring</a>
        <a href="/assets/pdf/invest.pdf">Invest in myma</a>
        <a routerLink="/contact">Get in touch</a>
      </div>
      <div
        class="col-sm-3 d-flex flex-column text-color-primary-light margin-bottom-1"
      >
        <h5 class="font-weight-bold text-color-primary">Products</h5>
        <a href="https://wifiplug.co.uk/">Wifiplug, our B2C product</a>
        <a routerLink="/serviceplug">ServicePlug</a>
        <a routerLink="/whitelabel">White Labeling</a>
        <a routerLink="/consulting">Consulting</a>
        <a href="https://developer.wifiplug.io/">Developer Docs</a>
      </div>
      <div
        class="col-sm-3 d-flex flex-column text-color-primary-light margin-bottom-1"
      >
        <h5 class="font-weight-bold text-color-primary">Stay up to date</h5>
        <a>Subscribe to our newsletter for frequent updates.</a>
        <div>
          <form
            class="newsletter-form"
            name="newsletter-form"
            data-name="Newsletter Form"
          >
            <div>
              <input type="email" name="email" />
              <button>Go</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
