<footer class="border-top-secondary">
  <div class="container-fluid footer-container padding-3 padding-bottom-2">
    <div class="row m-0">
      <div
        class="col-lg-4 footer-col d-flex flex-column text-color-primary-light margin-bottom-1"
      >
        <img
          class="myma-logo"
          [src]="'assets/images/myma-logo-p-500.png'"
          alt="myma logo"
        />
        <a>
          We turn the key for IoT <small><sup>&copy;</sup></small>
        </a>
      </div>
      <div
        class="col-lg-4 footer-col d-flex flex-column text-color-primary-light margin-bottom-1 border-left border-right"
      >
        <h5 class="font-weight-bold text-color-primary">About Us</h5>
        <div class="d-flex flex-col">
          <div class="d-flex flex-column flex-grow-1">
            <a type="link" routerLink="/company">What is myma?</a>
            <a type="link" href="./company#team-anchor">Meet the team</a>
            <a type="link" href="./company#vacancies-anchor">We're hiring</a>
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <a type="link" href="./assets/pdf/invest.pdf">Invest in myma</a>
            <a type="link" routerLink="/contact">Get in touch</a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 footer-col d-flex flex-column text-color-primary-light margin-bottom-1"
      >
        <h5 class="font-weight-bold text-color-primary">Products</h5>
        <div class="d-flex flex-col">
          <div class="d-flex flex-column flex-grow-1">
            <a type="link" href="https://wifiplug.co.uk/">WIFIPLUG website</a>
            <a type="link" routerLink="/serviceplug">SERVICEPLUG</a>
            <a type="link" routerLink="/whitelabel">White labelling</a>
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <a type="link" routerLink="/consulting">Consulting</a>
            <a type="link" href="https://developer.wifiplug.io/"
              >Developer documentation</a
            >
          </div>
        </div>
      </div>
      <!--
        <div
          class="col-md-4 footer-col d-flex flex-column text-color-primary-light margin-bottom-1"
        >
          <h5 class="font-weight-bold text-color-primary">Stay Up To Date</h5>
          <a>Subscribe to our newsletter for frequent updates.</a>
          <div class="container-fluid">
            <form
              class="newsletter-form row"
              name="newsletter-form"
              data-name="Newsletter Form"
            >
              <input
                class="col-8 form-control email-field"
                type="email"
                name="email"
                disabled
              />
              <button
                class="col-4 btn btn-primary email-button font-weight-bold"
                disabled
              >
                Go
              </button>
            </form>
          </div>
        </div>
        -->
    </div>
  </div>
</footer>
