<footer class="border-top-secondary">
  <div class="container-fluid footer-container padding-3 padding-bottom-2">
    <div class="row m-0">
      <div
        class="col-lg-3 footer-col d-flex flex-column text-color-primary-light margin-bottom-1"
      >
        <img
          class="myma-logo"
          [src]="'assets/images/myma-logo-p-500.png'"
          alt="myma logo"
        />
        <a>
          myma gives manufacturers and consumers insight into their appliances
          like never before.
        </a>
      </div>
      <div class="col-lg-9 footer-col pr-0 row m-0 second-col">
        <div
          class="col-md-4 footer-col d-flex flex-column text-color-primary-light margin-bottom-1"
        >
          <h5 class="font-weight-bold text-color-primary">About Us</h5>
          <a routerLink="/company">What is myma?</a>
          <a href="/company#team-anchor">Meet the team</a>
          <a href="/company#vacancies-anchor">We're hiring</a>
          <a href="/assets/pdf/invest.pdf">Invest in myma</a>
          <a routerLink="/contact">Get in touch</a>
        </div>
        <div
          class="col-md-4 footer-col d-flex flex-column text-color-primary-light margin-bottom-1"
        >
          <h5 class="font-weight-bold text-color-primary">Products</h5>
          <a href="https://wifiplug.co.uk/">WIFIPLUG</a>
          <a routerLink="/serviceplug">SERVICEPLUG</a>
          <a routerLink="/whitelabel">White labelling</a>
          <a routerLink="/consulting">Consulting</a>
          <a href="https://developer.wifiplug.io/">Developer documentation</a>
        </div>
        <div
          class="col-md-4 footer-col d-flex flex-column text-color-primary-light margin-bottom-1"
        >
          <h5 class="font-weight-bold text-color-primary">Stay Up To Date</h5>
          <a>Subscribe to our newsletter for frequent updates.</a>
          <div class="container-fluid">
            <form
              class="newsletter-form row"
              name="newsletter-form"
              data-name="Newsletter Form"
            >
              <input
                class="col-8 form-control email-field"
                type="email"
                name="email"
                disabled
              />
              <button
                class="col-4 btn btn-primary email-button font-weight-bold"
                disabled
              >
                Go
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
